@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Music Service Meta App is a meta application for music services. It lets end users compare music services, and move their data back and forth between services.</p>
