@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Henning Klokkeråsen<br />
    <a href="http://henning.drmowinckel.com/">http://henning.drmowinckel.com/</a>
</address>

<address>
    <strong>Source Code for this site:</strong>   <a href="https://github.com/HenningKlokkeraasen/MusicServiceMetaApp">https://github.com/HenningKlokkeraasen/MusicServiceMetaApp</a><br />
    <strong>Hosting for this site:</strong> Microsoft Azure<br />
    <strong>Database hosting for this site:</strong> Iris Couch
</address>