@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Music Service Meta App</h1>
    <p class="lead">Music Service Meta App is a meta application for music services. It lets end users compare music services, and move their data back and forth between services.</p>
    <p>Test config value: @ViewBag.ConfigValue</p>
    <p><a href="/" class="btn btn-primary btn-lg">Lorem ipsum</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Spotify</h2>
        <p>
            Lorem ipsum
        </p>
        <p>@Html.ActionLink("Spotify", "Index", "Spotify", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>WiMP</h2>
        <p>Dolor sit amet</p>
        <p>@Html.ActionLink("WiMP", "Index", "Wimp", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Last.fm</h2>
        <p>Cogito ergo sum</p>
        <p></p>
    </div>
</div>