@model string

@{
    ViewBag.Title = "";
}

<h2>Albums</h2>
<ul>
    <li>@Html.ActionLink("Bauta - En hyllest til Bjørn Eidsvåg", "Album", new { @id = 27027486 })</li>
</ul>

<h2>Artists</h2>
<ul>
    <li>@Html.ActionLink("Band of Horses", "Artist", new { @id = 63223 })</li>
    <li>@Html.ActionLink("Calexico", "Artist", new { @id = 9244 })</li>
    <li>@Html.ActionLink("Kaizers Orchestra", "Artist", new { @id = 20940 })</li>
</ul>
