
@{
    ViewBag.Title = "";
}

<h2>Albums</h2>
<ul>
    <li>@Html.ActionLink("Bauta: En hyllest til Bjørn Eidsvåg", "Album", new { @id = "Various+Artists|Bauta:+En+hyllest+til+Bjørn+Eidsvåg" })</li>
</ul>

<h2>Artists</h2>
<ul>
    <li>@Html.ActionLink("Band of Horses", "Artist", new { @id = "Band+of+Horses" })</li>
    <li>@Html.ActionLink("Calexico", "Artist", new { @id = "Calexico" })</li>
    <li>@Html.ActionLink("Kaizers Orchestra", "Artist", new { @id = "Kaizers+Orchestra" })</li>
</ul>
