
@{
    ViewBag.Title = "";
}

<h2>Albums</h2>
<ul>
    <li>@Html.ActionLink("Bauta: En hyllest til Bjørn Eidsvåg", "Album", new { @id = "fe436568-0b74-48d4-b6cd-8bb2577f6bd4" })</li>
</ul>

<h2>Artists</h2>
<ul>
    <li>@Html.ActionLink("Band of Horses", "Artist", new { @id = "07b6020a-c539-4d68-aeef-f159f3befc76" })</li>
    <li>@Html.ActionLink("Calexico", "Artist", new { @id = "32f59126-2a1c-47c5-9076-64826c83a393" })</li>
    <li>@Html.ActionLink("Kaizers Orchestra", "Artist", new { @id = "2c3bac0a-5158-442f-b50b-056aae52138c" })</li>
</ul>
