@model Msma.Domain.Dtos.AlbumDto

<h1>@Model.Album.Name</h1>

<p>By @{ Html.RenderPartial("DisplayTemplates/BunchOfArtists", Model.Album.Artists); } </p>

<p>@Html.DisplayFor(m => m.Album.ReleaseDate)</p>

<div>@{Html.RenderPartial("DisplayTemplates/AlbumCover", new Tuple<string, string>(Model.Album.ImageUrl, string.Empty));}</div>

@{ Html.RenderPartial("DisplayTemplates/AlbumInfo", Model.Album); }

@{ Html.RenderPartial("DisplayTemplates/BunchOfTracks", Model.Tracks); }

