@model Msma.Domain.Dtos.ArtistDto

<h2>@Model.Artist.Name</h2>

<img src="@Model.Artist.ImageUrl" alt="" />

<h3>Bio</h3>
@{Html.RenderPartial("DisplayTemplates/ArtistBio", Model.Bio); }

<h3>Top Albums (+ Singles, Etc)</h3>
@{ Html.RenderPartial("DisplayTemplates/BunchOfAlbums", Model.TopAlbums); }


<h3>Albums</h3>
@{ Html.RenderPartial("DisplayTemplates/BunchOfAlbums", Model.Albums); }

<h3>Singles</h3>
@{ Html.RenderPartial("DisplayTemplates/BunchOfAlbums", Model.Singles); }

<h3>Appears On</h3>
@{ Html.RenderPartial("DisplayTemplates/BunchOfAlbums", Model.AppearsOn); }


@*@{ Html.RenderPartial("DisplayTemplates/BunchOfAlbums", Model.Compilations); }*@
