@using Msma.Domain.Models
@model Tracklist

@{
    var source = ViewBag.Source;
}
       
<table>
    <thead>
        <tr>
            <th>Track</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Track t in Model.Items)
        {
            <tr>
                <td>@t.TrackNumber</td>
                <td><a href="/@source/Track/@t.Id">@t.Name</a></td>
                <td>
                    @{ Html.RenderPartial("DisplayTemplates/BunchOfArtists", t.Artists); }
                </td>
                <td>@t.DurationInSeconds seconds</td>
            </tr>
        }
    </tbody>
</table>
