@using Msma.Domain.Models
@model IEnumerable<Album>

@{
    var source = ViewBag.Source;
}

<div class="artistAlbumContainer">
    @foreach (Album a in Model)
    {
        <div>
            <a href="/@source/Album/@a.Id">
                <img src="@a.ImageUrl" alt="" />
                <br />
                @a.Name
            </a>
        </div>
    }
</div>
