@using Msma.Domain.Models
@model IEnumerable<Artist>

@{
    var source = ViewBag.Source;
}

@{ int counter = Model.Count(); }
@foreach (Artist a in Model.ToArray())
{
    <a href="/@source/Artist/@a.Id">@a.Name</a>
    {
        if (counter > 1)
        {
            @:,
        }
        counter--;
    }
}