@using Msma.Domain.Models
@model IEnumerable<Album>

@{
    var source = ViewBag.Source;
}

<div class="artistAlbumContainer">
    @foreach (Album a in Model)
    {
        <div>
            <a href="/@source/Album/@a.Id">
                @{ Html.RenderPartial("DisplayTemplates/AlbumCover", new Tuple<string, string>(a.ImageUrl, string.Empty)); }
                <br />
                @a.Name
            </a>
        </div>
    }
</div>
