@model Msma.Domain.Dtos.TrackDto

<h2>@Model.Track.Name</h2>

@{ Html.RenderPartial("DisplayTemplates/AudioPlayer", Model.Track); }

<p>Duration: @Model.Track.DurationFormatted</p>

<p>By @{ Html.RenderPartial("DisplayTemplates/BunchOfArtists", Model.Track.Artists); } </p>

<p>
    From album:<br />
    <a href="/@Model.Source/Album/@Model.Track.Album.Id">
        <img src="@Model.Track.Album.ImageUrl" alt="" />
        <br />
        @Model.Track.Album.Name
    </a>
</p>

