body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Project Specific */

.artistAlbumContainer {
	
}

    .artistAlbumContainer > div {
        display: inline-block;
        vertical-align: top;
	    max-width: 164px;
    }

        .artistAlbumContainer > div > a > img {
            max-width: 160px;
        }
        
.rightAligned {
    text-align: right;
}

tr:nth-child(even) {
    background-color: #ddd;
}

.source {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.source-Spotify {
    background-color: #80B719;
}

.source-Wimp {
    background-color: #3F1034;
}

.source-LastFm {
    background-color: #E31B23;
}

.light-color {
    color: #bbb;
}